body {
    background-color: antiquewhite;
}

#H1Lasagna {
    text-align: center;
    color: black;
}

.ingredients, .directions {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.recipeimageshomepage img
{
    height: auto;
    width: border;
    margin-left: auto;
    margin-right: auto;
   
}

.recipenameshomepage
{
    font-weight: 800px;
}


#subheadinglasagna
{
    text-align: center;
}

.recipeimageshomepage img
{
    width: 200px;
    height: auto;
}



.recipenameshomepage
{
    font-size: 25px;
    color: black;
    text-decoration: none;
    /* Find out how to get rid of the underline for recipe names on home page. */
}